.Aboutus{
    @apply flex items-center justify-center my-12  text-zinc-500/80
    max-md:flex-col-reverse max-md:w-full
}
.Aboutus_Text{
@apply w-1/2 flex flex-col text-right mr-12 
max-md:justify-center max-md:items-center  max-md:ml-1 max-md:mr-[23rem];
direction: rtl
}
.Aboutus_Header{
@apply font-medium
}
.Aboutus_Topic{
@apply text-[39px] font-bold my-2 text-zinc-950 
}
.Aboutus_Desc{
@apply text-wrap text-justify text-zinc-600/70
}
.Aboutus_List{
@apply flex flex-col my-4
}
.Aboutus_Item{
@apply flex flex-row-reverse items-center justify-end my-3
}
.Aboutus_Item img{
    @apply w-[20px] ml-4
}
.Aboutus_Pic{
@apply w-1/2 
max-md:w-full max-md:my-6
}


.Moreinfo_Btn{
    @apply  mr-12 bg-blue-700 px-4 py-2 rounded-full  w-[150px] text-white;
    transition: all 0.5s ease-in-out;
}.Moreinfo_Btn:hover{
    transform: translateY(-5px);
   }