@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
    background: #111 !important;
    transition: all 0.75s ease-in-out;
    color: #fdfdfd !important;
}
::selection{
    @apply text-[#fff] bg-[gray]
} 