@font-face {
    font-family: Shabnam;
    src: url('../../Assets/Fonts/Shabnam.ttf');
}

.Prodouct_Page{
    font-family: Shabnam;
    @apply flex justify-center items-center flex-col overflow-hidden
}
.Prodouct_Page .Navfix{
    @apply top-0
}